<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Metriche si/no, utilizzo cloc , DefaultCollection-->
    <add key="metriche" value="si"/>
    <!--Utenza di accesso-->
    <add key="dominio" value="nome dominio"/>
    <add key="user" value="utente amministrativo TFS"/>
    <add key="psw" value="password"/>
    <add key="collection" value="nome collection 1,nome collection 2"/>
    <add key="repDir" value="c:/report/"/>
    <add key="tmpDir" value="c:/temp/"/>
    <add key="TFSServer" value="url tfs server nr 2,url tfs server nr 2"/>
    <add key="ConvCost" value="90"/>
    <add key="Cancellazione_in_Mesi" value="2"/>
  </appSettings>

